<%= form_with(model: [post, post.comments.build]) do |f| %>
    <div class="form-control">
        <%= f.rich_text_area :text %>
        <%= f.submit "Reply", class: "btn btn-primary mt-1" %>
    </div>
<% end %>
