<div class="container">    
    <h1>Quienes somos</h1>
    <p>Somos una red que conecta a las personas relacionadas con el mundo de la Bioconstrcción</p>
    <%= link_to "Inicio", root_path %>
</div>



