<div class="container">    
    <h1>Quienes somos</h1>
    <p>Somos una red de trabajo que conecta a las personas relacionadas con el mundo de la autoconstrucción</p>
    <%= link_to "Inicio", root_path %>

    <br>
</div>



