<div class="container">
    <h1>Plataforma Bioconstruccion</h1>
    <p>Conecta con el mundo de la bioconstrucción!</p>
    <%= link_to "Sobre nosotros", pages_about_path, class:"btn btn-secondary" %>
    <%= link_to "Blog", posts_path, class:"btn btn-primary"%>

    
</div>
